/.vs/Lesta_Test_Game/FileContentIndex/ba15de23-e8c3-4ad5-b903-81d627d99d69.vsidx
/.vs/Lesta_Test_Game/v17/.suo
/.vs/Lesta_Test_Game/v17/Browse.VC.db
/.vs/Lesta_Test_Game/v17/DocumentLayout.backup.json
/.vs/Lesta_Test_Game/v17/DocumentLayout.json
/.vs/Lesta_Test_Game/v17/Solution.VC.db
/.vs/Lesta_Test_Game/v17/fileList.bin
/.vs/Lesta_Test_Game/v17/ipch/AutoPCH/e10a97e23f132ef1/MAIN.ipch
/.vs/Lesta_Test_Game/v17/ipch/AutoPCH/e6c70b41e831cb2f/MAIN.ipch
/bin/x64/Debug/Lesta_Test_Game.exe
/bin/x64/Debug/Lesta_Test_Game.pdb
/bin/x64/Release/Lesta_Test_Game.exe
/bin/x64/Release/Lesta_Test_Game.pdb
/intermediate/x64/Debug
Release
