/.vs/Lesta_Test_Game/FileContentIndex/ba15de23-e8c3-4ad5-b903-81d627d99d69.vsidx
/.vs/Lesta_Test_Game/v17/.suo
/.vs/Lesta_Test_Game/v17/Browse.VC.db
/.vs/Lesta_Test_Game/v17/DocumentLayout.backup.json
/.vs/Lesta_Test_Game/v17/DocumentLayout.json
/.vs/Lesta_Test_Game/v17/Solution.VC.db
/.vs/Lesta_Test_Game/v17/fileList.bin
/.vs/Lesta_Test_Game/v17/ipch/AutoPCH/e10a97e23f132ef1/MAIN.ipch
/.vs/Lesta_Test_Game/v17/ipch/AutoPCH/e6c70b41e831cb2f/MAIN.ipch
/bin/x64/Debug/Lesta_Test_Game.exe
/bin/x64/Debug/Lesta_Test_Game.pdb
/bin/x64/Release/Lesta_Test_Game.exe
/bin/x64/Release/Lesta_Test_Game.pdb
/intermediate/x64/Debug
Release
12d27b1d-66c9-4818-aa29-50d06bea94e1.vsidx
VCTMP13640_604600.MAIN.00000000.ipch
/bin/x64/Debug/SDL3.dll
/bin/x64/Debug/SDL3_image.dll
/bin/x64/Debug/SDL3_mixer.dll
/bin/x64/Debug/SDL3_ttf.dll
/bin/x64/Debug/lua54.dll
